In [1]:
import pandas as pd

In [2]:
libros = pd.read_csv("data/libros_vendidos.csv")

In [3]:
libros

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

### Mostrando las primeras filas

In [4]:
libros.head()

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [5]:
libros.head(n=2)

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [6]:
libros.head(3)

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

### Mostrando las últimas filas

In [7]:
libros.tail()

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

### Mostrando información del dataframe

In [8]:
libros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Titulo                    10 non-null     object
 1   Autor                     10 non-null     object
 2   Calificación de usuarios  10 non-null     float64
 3   Reseñas                   10 non-null     int64
 4   Precio                    10 non-null     int64
 5   Año                       10 non-null     int64
 6   Genero                    10 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 688.0+ bytes

## Selección de columnas
### Usando la notación punto

In [9]:
libros.Titulo

0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
5        A Dance with Dragons (A Song of Ice and Fire)
6    A Game of Thrones / A Clash of Kings / A Storm...
7                       A Gentleman in Moscow: A Novel
8        A Higher Loyalty: Truth, Lies, and Leadership
9                            A Man Called Ove: A Novel
Name: Titulo, dtype: object

In [10]:
# Pero no siempre funcionará por los espacios en el nombre de la columna
libros.Calificación de usuarios

SyntaxError: invalid syntax (3688389400.py, line 2)

In [11]:
# En su lugar se ocupará acceso a columna por nombre
libros["Calificación de usuarios"]

0    4.7
1    4.6
2    4.7
3    4.7
4    4.8
5    4.4
6    4.7
7    4.7
8    4.7
9    4.6
Name: Calificación de usuarios, dtype: float64

In [12]:
# Se puede usar una variable para guardar los datos de una columna
calificaciones = libros["Calificación de usuarios"]
calificaciones

0    4.7
1    4.6
2    4.7
3    4.7
4    4.8
5    4.4
6    4.7
7    4.7
8    4.7
9    4.6
Name: Calificación de usuarios, dtype: float64

### Selección de varias columnas

In [13]:
titulo_y_anio_lanzamiento = libros[["Titulo", "Año"]]
titulo_y_anio_lanzamiento

                                              Titulo   Año
0                      10-Day Green Smoothie Cleanse  2016
1                                  11/22/63: A Novel  2011
2            12 Rules for Life: An Antidote to Chaos  2018
3                             1984 (Signet Classics)  2017
4  5,000 Awesome Facts (About Everything!) (Natio...  2019
5      A Dance with Dragons (A Song of Ice and Fire)  2011
6  A Game of Thrones / A Clash of Kings / A Storm...  2014
7                     A Gentleman in Moscow: A Novel  2017
8      A Higher Loyalty: Truth, Lies, and Leadership  2018
9                          A Man Called Ove: A Novel  2016

## Selección de renglones

In [14]:
# Seleccionar el renglón que tiene el índice 5
libros.iloc[5]

Titulo                      A Dance with Dragons (A Song of Ice and Fire)
Autor                                                 George R. R. Martin
Calificación de usuarios                                              4.4
Reseñas                                                             12643
Precio                                                                 11
Año                                                                  2011
Genero                                                            Fiction
Name: 5, dtype: object

In [15]:
# También se puede guardar la selección de renglones en variables
mi_libro_favorito = libros.iloc[0]
mi_libro_favorito

Titulo                      10-Day Green Smoothie Cleanse
Autor                                            JJ Smith
Calificación de usuarios                              4.7
Reseñas                                             17350
Precio                                                  8
Año                                                  2016
Genero                                        Non Fiction
Name: 0, dtype: object

### Seleccionar múltiples renglones

In [16]:
# Seleccionar los renglones que van desde el índice 3 hasta el 7
varios_libros = libros.iloc[3:8]
varios_libros

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction

In [17]:
# Seleccionar los renglones que van desde el índice 0 hasta el 4
varios_libros = libros.iloc[:5]
varios_libros

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [18]:
# Seleccionar los últimos 3 renglones
varios_libros = libros.iloc[-3:]
varios_libros

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [19]:
# Seleccionar los renglones que van desde el índice 0 hasta el 9, de 3 en 3
varios_libros = libros.iloc[0:10:3]
varios_libros

,Titulo,Autor,Calificación de usuarios,Reseñas,Precio,Año,Genero
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction